body {
  font-family: Helvetica, Arial, sans-serif;
  margin:0;
}

header {
  background-image:linear-gradient(#3C3C3C, #111);
  color:#FFF;
  padding: 10px;
  text-align:center;
}

header h2 {
  margin:0;
  font-weight:normal;
}

ul {
  padding:0;
  margin:0;
}

li {
  list-style-type: none;
}

li.item {
  background-image: linear-gradient(#FFF,#F1F1F1);
  padding:20px 15px;
}

li.divider {
  background-color: #5E87B0;
  color: #FFF;
  text-shadow: 0 1px 1px #3E6790;
  padding:5px 15px;
}